<div>
    <nav class="nav-list">
        <div class="nav-logo">
            <a href="/">
                <img class="nav-logo-image" src="../images/logo/logo.jpg" alt="background-image">
            </a>

        </div>
        <div class="header-center">
            <h1> ART CORNER </h1>
        </div>

        <ul class="header-right">
            <li><a class="header-right-link" href="/art/painting">Paintings</a></li>
            <li><a class="header-right-link" href="/art/sculpture">Sculptures</a></li>
            <li><a class="header-right-link" href="/art/street-Art">Street Art</a></li>
            <li><a class="header-right-link" href="">Photos</a></li>


        </ul>




    </nav>

</div>