<body>
    <h1>{{title}}</h1>
    <div>
        below you can see my paintings
    </div>

    <div class="container">
        <div class="gridContainer">
            {{!-- <div class="column"> --}}
            <img class='image' src="/images/paintings/painting1.png">
            <img class='image' src="/images/paintings/painting2.png">
            <img class='image' src="/images/paintings/painting3.png">
            {{!-- </div> --}}
            {{!-- <div class="column"> --}}
            <img class='image' src="/images/paintings/painting6.png">
            <img class='image' src="/images/paintings/painting7.png">
            {{!-- </div>
            <div class="column"> --}}
            <img class='image' src="/images/paintings/painting9.png">
            <img class='image' src="/images/paintings/painting4.png">
            <img class='image' src="/images/paintings/painting8.png">
            {{!-- </div>
            <div class="column"> --}}
            <img class='image fullRow' src="/images/paintings/painting5.png">
            {{!-- </div> --}}
        </div>
    </div>
    <div class='test'></div>
</body>