<div class="sculptures">
    <div class="sculpture-container">
        <div class="gridContainer">
            <div class="sculpture-image">
                <div class="sculpture-border">

                    <img class="image-sculpture" src="/images/paintings/sculpture2.png">
                </div>

                <h4 class="title-sculpture">little boy | 2020 | Wood And Acrylics</h4>
            </div>
            <div class="sculpture-image">
                <div class="sculpture-border">

                    <img class="image-sculpture" src="/images/paintings/sculpture1.png">
                </div>

                <h4 class="title-sculpture">little boy | 2020 | Wood And Acrylics</h4>
            </div>
            <div class="sculpture-image">
                <div class="sculpture-border">

                    <img class="image-sculpture" src="/images/paintings/sculpture3.png">
                </div>

                <h4 class="title-sculpture">little boy | 2020 | Wood And Acrylics</h4>
            </div>

        </div>
    </div>
</div>