<body>
    <h1>{{title}}</h1>

    <div class="container">
        <div class="row">
            <div class="column">
                <img src="/images/paintings/sculpture1.png">

            </div>
            <div class="column">
                <img src="/images/paintings/sculpture2.png">

            </div>
            <div class="column">
                <img src="/images/paintings/sculpture3.png">
            </div>


        </div>
    </div>
</body>
</body>