<div class="footer">
    <ul class="footer-section">
        <li class="footer-section-elt"><a href="/" class="footer-link"> Home</a></li>
        <li class="footer-section-elt"><a href="/about" class="footer-link">About</a></li>
        <li class="footer-section-elt"><a href="/contact" class="footer-link">Contact</a></li>
    </ul>
</div>