<div>
    <nav class="nav-list">
        <div class="header-left">
            <ul>
                <li><a href="/art"><i class="fas fa-bars"></i> Art</a></li>
                <ul class="sub-menu">
                    <li><a href="/art/painting">Painting</a></li>
                    <li><a href="/art/sculpture">sculpture</a></li>
                    <li><a href="/art/street-Art">Street Art</a></li>
                    <li><a href="">Photos</a></li>
                </ul>

            </ul>
        </div>
        <div class="header-center">
            <h1>The Art Corner</h1>
        </div>
        <div class="flex">
            <ul class="nav-right-links">
                <li><a href="/"> Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>

    </nav>

</div>