<body>

    <div class="home-container">
        <div class="home-div">
            <div class="home-line">
                <div class="homepage-section">
                    <a class="home-section-link" href="/art/painting">
                        <div class="home-section-subline">
                            <h4>Paintings</h4>
                            <div class="home-section-discover-btn">Discover</div>
                        </div>
                        <div class="home-section-image-container">
                            <img class="home-section-image" src="../images/paintings/painting7.png"
                                alt="background-image">
                        </div>
                    </a>

                </div>
                <div class="homepage-section">
                    <a class="home-section-link" href="/art/sculpture">

                        <div class="home-section-subline">
                            <h4>Sculpture</h4>
                            <div class="home-section-discover-btn">Discover</div>
                        </div>
                        <div class="home-section-image-container">
                            <img class="home-section-image" src="../images/paintings/sculpture1.png"
                                alt="background-image">
                        </div>
                    </a>

                </div>
            </div>
            <div class="home-line">
                <div class="homepage-section">
                    <a class="home-section-link" href="/art/street-Art">
                        <div class="home-section-subline">
                            <h4>Street Art</h4>
                            <div class="home-section-discover-btn">Discover</div>
                        </div>
                        <div class="home-section-image-container">
                            <img class="home-section-image" src="../images/paintings/P1130036.png"
                                alt="background-image">
                        </div>
                    </a>

                </div>
                <div class="homepage-section">
                    <a class="home-section-link" href="/art/photos">
                        <div class="home-section-subline">
                            <h4>Photos</h4>
                            <div class="home-section-discover-btn">Discover</div>
                        </div>
                        <div class="home-section-landscape-img-container">
                            <img class="home-section-image" src="../images/photos/photo1.jpg"
                                alt="background-image">
                        </div>
                    </a>

                </div>
            </div>

        </div>
    </div>

</body>