<body>
    
    <div>Hi there ,
        Welcome to Art Corner ,
        this is my personal Website where i will share with you my art.
        Tayssir .

    </div>

    <div>

        <ul class="personal-picture">
            <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                    <div>
                        <img class="perso-img" src="/images/image1.PNG" alt="image1">
                    </div>
                </a></li>
            <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                    <div>
                        <img class="perso-img" src="/images/image2.PNG" alt="image1">
                    </div>
                </a></li>
            <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                    <div>
                        <img class="perso-img" src="/images/image3.PNG" alt="image1">
                    </div>
                </a></li>
            <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                    <div>
                        <img class="perso-img" src="/images/image4.PNG" alt="image1">
                    </div>
                </a></li>
            <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                    <div>
                        <img class="perso-img" src="/images/image5.PNG" alt="image1">
                    </div>
                </a></li>
            <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                    <div>
                        <img class="perso-img" src="/images/image6.PNG" alt="image1">
                    </div>
                </a></li>
            <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                    <div>
                        <img class="perso-img" src="/images/image7.PNG" alt="image1">
                    </div>
                </a></li>
            <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                    <div>
                        <img class="perso-img" src="/images/image8.PNG" alt="image1">
                    </div>
                </a></li>
            <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                    <div>
                        <img class="perso-img" src="/images/image9.PNG" alt="image1">
                    </div>
                </a></li>
            <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                    <div>
                        <img class="perso-img" src="/images/image10.PNG" alt="image1">
                    </div>
                </a></li>
            <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                    <div>
                        <img class="perso-img" src="/images/image11.PNG" alt="image1">
                    </div>
                </a></li>
            <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                    <div>
                        <img class="perso-img" src="/images/image12.PNG" alt="image1">
                    </div>
                </a></li>
            <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                    <div>
                        <img class="perso-img" src="/images/image13.PNG" alt="image1">
                    </div>
                </a></li>
            <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                    <div>
                        <img class="perso-img" src="/images/image14.PNG" alt="image1">
                    </div>
                </a></li>
            <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                    <div>
                        <img class="perso-img" src="/images/image1.PNG" alt="image1">
                    </div>
                </a></li>
            <li class="list-insta"><a href="https://www.instagram.com/p/Bt6_YAUhAAg/">
                    <div>
                        <img class="perso-img" src="/images/image1.PNG" alt="image1">
                    </div>
                </a></li>
            </ulclass="personal-picture">
    </div>

</body>