<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Art Corner </title>
    <script src="https://kit.fontawesome.com/567b09ec69.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/base.css">
    {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}.css">
    {{/each}}
</head>

<body>
    {{> partNavigation }}
    {{{body}}}
    {{>partFooter}}
</body>

</html>