<div class="paintings">
    <div class="paintings-container">
        <div class="gridContainer">
            <div class="image-painting-container">
                <div class="image-border">
                    <img class='image-painting' src="/images/paintings/painting1.png">
                </div>

                <h4 class="title-painting">Beautie | 2017 | Acrylics</h4>
            </div>
            <div class="image-painting-container">
                <div class="image-border">
                    <img class='image-painting' src="/images/paintings/painting2.png">
                </div>
                <h4 class="title-painting">Modern Berbere |2017 | Acrylics</h4>
            </div>
            <div class="image-painting-container">
                <div class="image-border">
                    <img class='image-painting' src="/images/paintings/painting3.png">
                </div>

                <h4 class="title-painting">My First | 2015 | Acrylics</h4>
            </div>
            <div class="image-painting-container">
                <div class="image-border">
                    <img class='image-painting' src="/images/paintings/painting6.png">
                </div>

                <h4 class="title-painting">Life is a rollercoaster | 2015 | Acrylics</h4>
            </div>
            <div class="image-painting-container">
                <div class="image-border">
                    <img class='image-painting' src="/images/paintings/painting7.png">

                </div>
                <h4 class="title-painting">No way out | 2018 | Acrylics</h4>
            </div>
            <div class="image-painting-container">
                <div class="image-border">
                    <img class='image-painting' src="/images/paintings/painting9.png">
                </div>

                <h4 class="title-painting">Shapes | 2016 | Acrylics</h4>
            </div>
            <div class="image-painting-container">
                <div class="image-border">
                    <img class='image-painting' src="/images/paintings/painting4.png">

                </div>

                <h4 class="title-painting">Bird | 2015 | Acrylics</h4>
            </div>
            <div class="image-painting-container">
                <div class="image-border">
                    <img class='image-painting' src="/images/paintings/painting8.png">
                </div>

                <h4 class="title-painting">Shapes 2016 | 2016 | Acrylics </h4>
            </div>
            <div class="image-painting-container">
                <div class="image-border">
                    <img class='image-painting' src="/images/logo/logo.jpg">
                </div>

                <h4 class="title-painting">New one to come 2020 </h4>
            </div>
            <div class="image-painting-container fullRow">
                <div class="image-border">
                    <img class='image-painting ' src="/images/paintings/painting5.png">
                </div>

                <h4 class="title-painting">Flighing in the sky | 2016 | Acrylics</h4>
            </div>

        </div>
    </div>
</div>